// Variables
$darkblue: #090057;
$blue: #192192;
$lightblue: #1a1aa7;
$darkerblue: #10162e;
$gold: #866e30;
$yellow: #ce9b19;
$lightgold: lighten($yellow, 20%);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "nav";
  grid-template-rows: 5rem auto 5rem;
  background: $darkerblue;
  max-width: 100%;
  font-size: 1.8rem;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  color: #fff;
  font-size: 1.75rem;
  font-weight: 400;
  grid-area: main;
  padding: 1rem;
  overflow: scroll;
  height: 70rem;
}

main a {
  color: $yellow;
}

p {
  margin: 1rem 0;
  font-size: 2rem;
}

h1 {
  color: $yellow;
  display: block;
  font-size: 4rem;
  text-align: center;
}

h2 {
  border-bottom: 4px solid $gold;
  color: $yellow;
  font-size: 3.5rem;
  margin: 1rem 0;
}

ul {
  padding: 1rem 3rem;
}

@media (min-width: 600px) {
  body {
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main";
  }
}
