// *** Variables

// *** Sizing
$tiny: 0.5rem;
$small: 1rem;
$medium: 2rem;
$large: 3rem;
$huge: 4rem;
$gigantic: 5rem;

// *** Body
$body-background: #f0f0f0;

// *** Navigation
$nav-background: #fff;
$nav-background--small: #fff;
$nav-a-background: #fff;
$nav-a-background--hover: #f0f0f0;
$nav-a-background--current: #f0f0f0;
$nav-a-border--current: 3px inset #fff;
$nav-a-color: #000;
$nav-a-color--visited: #000;
$nav-a-color--hover: #000;
$nav-a-color--current: #000;

// *** Main
$main-color: #000;
$main-a-color: #000;

// *** Headings
$h1-color: #000;
$h1-size: $gigantic;
$h1-size--small: $large;
$h2-color: #000;
$h2-border: 5px solid #000;
$h2-size: $huge;
$h2-size--small: $medium;
$h3-color: #000;
$h3-size: $large;
$h3-size--small: $small;
$h4-color: #000;
$h4-size: $medium;
$h4-size--small: $tiny;
$h5-color: #000;
$h5-size: $small;
$h6-color: #000;
$h6-size: $tiny;

// *** Resume
$resume-h2-color: #000;

// *** Fonts

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main";
  grid-template-rows: 5rem auto 5rem;
  background: $body-background;
  max-width: 100%;
  font-size: 1.8rem;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  color: $main-color;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem;

  a {
    color: $main-a-color;
  }
}

p {
  margin: 1rem 0;
  font-size: 2rem;
}

h1 {
  color: $h1-color;
  display: block;
  font-size: $h1-size;
  text-align: center;
}

h2 {
  border-bottom: $h2-border;
  color: $h2-color;
  font-size: $h2-size;
  margin: 1rem 0;
}

ul {
  padding: 1rem 3rem;
}

@media (min-width: 600px) {
  body {
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main";
  }

  h1 {
    font-size: $h1-size--small;
  }
  h2 {
    font-size: $h2-size--small;
  }
}
