nav {
  display: flex;
  background: $nav-background;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;

  a {
    background: $nav-a-background;
    color: $nav-a-color;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 1rem 0;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:visited {
      color: $nav-a-color--visited;
    }

    &:hover {
      background: $nav-a-background--hover;
      color: $nav-a-color--hover;
      text-decoration: underline;
    }

    &.current {
      background: $nav-a-background--current;
      border: $nav-a-border--current;
      color: $nav-a-color--current;
    }
  }
}

@media (min-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
    background: $nav-background--small;
    width: 100%;

    a {
      display: inline;
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem 0;
    }
  }
}
