nav {
  display: flex;
  background: $darkblue;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
}

nav a {
  background: $darkblue;
  color: $yellow;
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1rem 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

nav a:visited {
  color: $yellow;
}

nav a:hover {
  background: $darkerblue;
  color: #fff;
  text-decoration: underline;
}

nav a.current {
  background: $darkerblue;
  border: 3px inset #fff;
  color: #fff;
}

@media (min-width: 600px) {
  nav {
    display: flex;
    flex-direction: row;
    background: $darkblue;
    width: 100%;
  }

  nav a {
    display: inline;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0;
  }
}
